OPENAI_API_KEY=your_openai_api_key
NAVER_OPENAPI_CLIENT_ID=your_naver_client_id
NAVER_OPENAPI_CLIENT_SECRET=your_naver_client_secret

DATABASE_URL=postgresql://user:password@localhost:5432/globalgates
DB_USER=user
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=globalgates

REDIS_URL=redis://localhost:6380

